/* root (all) */

:root {
  /*  */
  font-family: Arial, Helvetica, sans-serif;
  /* padding sohuld default 24px */
  --varPadding: 24px;
  --squareWidthToAdjHeight: 250px;
}

* {
  box-sizing: border-box;
}

/* outlines */

.debug {
  margin: 0px;
  padding: 0px;
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

/* shoelace */
sl-card,
sl-carousel {
  border-color: purple;
  border-width: 2px;
  border-style: solid;
}

.sl_carouselBIG {
  --aspect-ratio: 1/1;
  width: auto;
  height: auto;
}

.sl_carouselBIG::part(base) {
  display: grid;
  width: fit-content;
}

.sl_carouselBIG::part(scroll-container) {
  --slides-per-page: 3;
}

.sl_carouselBIG_item.--is-active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  /* transform: scale(1.2);
  transition: 0.4s; */
}

/* -------- */
.sl_carouselTest::part(scroll-container) {
  gap: 0px;
}

.carousel__slides {
}
/* .carousel__slides--horizontal */

.sl_carouselTest {
  --aspect-ratio: 1/1;
  width: var(--squareWidthToAdjHeight);
}

.sl_carouselTest::part(base) {
  border-color: orange;
  border-width: 2px;
  border-style: solid;
  /* display: block; */
  display: grid;
  gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
}

.sl_carouselTest::part(scroll-container) {
  border-color: blue;
  border-width: 2px;
  border-style: solid;
  grid-area: 1 / 1;
}

.sl_carouselTest::part(pagination) {
  border-color: green;
  border-width: 2px;
  border-style: solid;
  /* works with display block on parent, but child image resizes to not fill square */
  grid-area: 1 / 1;
  position: relative;
  bottom: calc(20px + calc(-1 * calc(var(--squareWidthToAdjHeight) / 2)));
}

.sl_cardTest::part(body) {
  padding: 10px;
}

/* shoelace end */

.d_swiperParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* swiper start */

.swiper {
}

.mySwiper {
}

.swiper-wrapper {
  align-items: center;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  display: flex;
  /* width: 800px; */
}

/* dont need */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  /* height: 100px;
  width: 100px; */
  /* display: block; */
}

.swiper-slide-active {
  transform: scale(0.9, 0.9);
  transition: 0.4s;
  background-color: green;
}

/* dont need */
.swiper-slide img {
  /* display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; */
}
/* swiper end */

body {
  /* display: flex;
  flex-direction: column; */
  margin: 0px;
}

/* semantic text styles */

h1 {
}

h2 {
  font-weight: 400;
}

h3 {
}

h4 {
}

/* header */
.header {
  background-color: hsla(0, 0%, 70%, 1);
  padding-left: var(--varPadding);
  padding-right: var(--varPadding);
}
.nav_header {
  background-color: hsla(0, 0%, 90%, 1);
  display: flex;
  justify-content: space-between;
  height: 55px;
}
.div_headerLogoBB {
  width: 25px;
  display: flex;
  align-items: center;
}

.img_headerLogo {
  width: 100%;
  object-fit: cover;
}

.div_headerLinksBB {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div_navLinksBB {
  margin-left: 16px;
}
.a_navLinks {
  text-decoration: none;
  color: black;
}
.span_navLinkTextStyling {
  color: green;
}
.div_headerNavHB {
  display: none;
}

.btn_HBtest {
  padding: 5px;
  margin: 0px;
}

/* media query 425px turn into hamburger*/
@media screen and (max-width: 426px) {
  .div_headerLinksBB {
    display: none;
  }
  .div_headerNavHB {
    display: flex;
    align-items: center;
  }
}
/* universal */
.subHeading02 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.subHeading03 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.boldText {
  font-weight: 600;
}

/* SEC 01 */
.d_sec01 {
  background-color: hsla(25, 100%, 70%, 0.5);
  padding-left: var(--varPadding);
  padding-right: var(--varPadding);
  display: flex;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: left;
}

.d_sec01_bb_video {
  background-color: hsla(50, 100%, 70%, 0.5);
  grid-area: 1 / 1;
  display: flex;
  justify-content: center;
  /* width: 100%; accounts for vert scroll bar where as vw does not */
  width: 100%;
  /* 100vw - global padding. chrome was just messing up */
  /* width: calc(100% - calc(2 * 25px)); */
  height: 300px;
}

.d_sec01_bb_text-video-overlay {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* align-items: start; */
  width: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.d_sec01_bb_btn {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 10px;
}

.d_sec01_btn {
  background-color: lightgray;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.d_sec01_btn_img {
  width: 10px;
  height: 10px;
  background-color: darkgray;
  border-radius: 5px;
}

/* --------------------------------------------------------------------------------------- */
/* SEC 02 */
.d_sec02 {
  background-color: hsla(75, 100%, 70%, 0.5);
  padding-left: var(--varPadding);
  padding-right: var(--varPadding);
  display: flex;
  flex-direction: column;
  padding-top: var(--varPadding);
  padding-bottom: var(--varPadding);
}

.s_sec02_bb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.art_sec02 {
  /* do mins/maxes */
  width: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

/* --------------------------------------------------------------------------------------- */

.div_section02 {
  background-color: hsla(0, 0%, 90%, 1);
  padding-left: var(--varPadding);
  padding-right: var(--varPadding);
}
/* section 3 */
.div_section03 {
  background-color: hsla(0, 0%, 70%, 1);
  padding-left: var(--varPadding);
  padding-right: var(--varPadding);
}
/* section 4 */
.div_section04 {
  background-color: hsla(0, 0%, 90%, 1);
  padding-left: var(--varPadding);
  padding-right: var(--varPadding);
}
/* section 5 */
.div_section05 {
  background-color: hsla(0, 0%, 70%, 1);
  padding-left: var(--varPadding);
  padding-right: var(--varPadding);
}
/* section 6 */
.div_section06 {
  background-color: hsla(0, 0%, 90%, 1);
  padding-left: var(--varPadding);
  padding-right: var(--varPadding);
}
/* footer */
.footer {
  background-color: hsla(0, 0%, 70%, 1);
}
.nav_footer {
  background-color: hsla(0, 0%, 90%, 1);
}

/* sec 4a */

.d_sec4a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.d_sec4a02 {
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.sl-carousel_test02 {
  box-sizing: border-box;
  border-color: blue;
  border-width: 1px;
  border-style: solid;
  --aspect-ratio: 1/1;
}

.sl-carousel_test02::part(base) {
  display: grid;
}

.sl-carousel_test02::part(scroll-container) {
  display: grid;
  --slides-per-page: 3;
  grid-template-rows: auto;
}

.sl-carousel_test02::part(scroll-container) {
  box-sizing: border-box;
  border-color: orange;
  border-width: 1px;
  border-style: solid;
  /* width: 150px;
  height: 150px; */
}

.sl-carousel-item_test02 {
  box-sizing: border-box;
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

.sl-carousel-item_test02 {
}

.sl-carousel-item_test02.--is-active {
  box-sizing: border-box;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  /* transform: scale(1.5); */
}

.d_sl-carousel-item-inside {
  background-color: lightgray;
  width: 50px;
  height: 50px;
}
